{% extends "template2.html" %}

{% block head %}

{% end %}

{% block body %}
<!-- <div class="banner_recruit banner_nei"></div> -->
<div class="con-titbox">
	<div class="w1200">
		<div class="en">Make Data Simple</div>
		<div class="cn">招贤纳士</div>
	</div>
</div>
<div class="main bg_g pt_40 pb_40 rec">
	<div class="w1200" style="box-shadow:none;">
		<div class="recuit" style="padding-top:0px;">
			<div class="rectit">工作环境介绍</div>
			<div class="pinfo">
				<div class="limgbox"></div>
				<div class="p">
这是一支硕士及以上学历比例超过85%的团队；<br>
这是一支拥有海外留学或就业背景比例超过80%的团队；<br>
在这里，你可以找到MIT、NYU、UCL、TU Delft、港科大、清华、复旦、交大、同济、东南、哈工大等众多名校的校友；<br>
如果你和我们一样，也青睐极度扁平的管理模式、享受每天的进步并勇于创新，请加入我们吧！<br>

				</div>
			</div>
		</div>
	</div>
</div>


<div class="main bg_g pt_40 pb_40 rec">
	<div class="w1200" style="box-shadow:none;">
		<div class="recuit">
			<!-- <div class="rectit">职位列表</div> -->
			<div class="zp_list">
				<li>
					<div class="nametit">项目经理</div>
					<div class="section">
						<div class="tith3">职位描述</div>
						<div class="content">
1.与客户开展需求讨论，参与需求分析；<br>

2.制定项目计划，并根据各种变化修改项目计划；<br>

3.进行项目需求解读，工作内容定义及计划分解；<br>

4.实施项目的管理、开发、质量保证过程，确保项目的成本、进度、绩效和质量目标；<br>

5.协调客户及项目相关人员沟通等工作；<br>

6.协助销售进行售前项目支持。<br>

						</div>
					</div>
					<div class="section">
						<div class="tith3">职位要求</div>
						<div class="content">
1.大学本科及以上学历，有PMP或项目管理师认证相关证书优先；<br>
2.具备3年以上IT或数据产品项目管理经验；<br>
3.具备独立撰写报告能力，能够独立与客户进行洽谈和对接；<br>
4.具备较强的理解能力、逻辑思维能力、良好的沟通能力及客户反馈管理能力；<br>
5.具有商业地产、零售行业数据产品项目管理经验者优先。<br>
						</div>
					</div>
				</li>
			</div>
		</div>
	</div>
</div>

<!--<div class="main bg_g pt_40 pb_40 rec">
	<div class="w1200" style="box-shadow:none;">
		<div class="recuit">
			<div class="zp_list">
 				<li>
					<div class="nametit">UI/UE设计师(数据展示方向)</div>
					<div class="section">
						<div class="tith3">职位描述</div>
						<div class="content">
1.参与数据类产品策划以及创意的过程，设计、分析、分解规划交互需求；<br>

2.配合相关人员，设计产品界面的信息架构、用户操作流程、操作界面等；<br>

3.不断关注并收集产品在设计上的视觉美观和用户体验上的不足与反馈，持续优化改进产品；<br>

4.配合公司运营活动设计活动界面和营销内容。<br>

						</div>
					</div>
					<div class="section">
						<div class="tith3">职位要求</div>
						<div class="content">
1.本科及以上学历, 美术、设计等相关专业；<br>

2.一年以上数据类产品UI/UE相关工作经验，熟悉网页设计规范，具有很好的美术功底和审美理念；<br>

3.能熟练使用PS、sketch、AI进行界面、活动、营销内容的设计和制作；<br>

4.对互联网有强烈兴趣并具有一定的商业灵敏度，富有创造力和激情，具备一定的眼界；<br>

5.工作积极主动，有持续的热情和责任心，对设计品质有执着追求，善于团队合作；<br>

6.应聘时需提供作品集。<br>

						</div>
					</div>
				</li> 
			</div>
		</div>
	</div>
</div>-->
<div class="main bg_g pt_40 pb_40 rec">
	<div class="w1200" style="box-shadow:none;">
		<div class="recuit">
			<div class="zp_list">
				<li>
					<div class="nametit">产品经理—大数据产品</div>
					<div class="section">
						<div class="tith3">职位描述</div>
						<div class="content">
1.根据公司战略及产品规划，对所负责的产品进行需求分析、功能设计、业务流程设计、产品优化，撰写产品PRD及原型设计；<br>

2.根据业务需求和用户研究结果， 独立完成需求分析、产品方案设计，并与技术团队紧密配合，高效推进产品的开发迭代；<br>

3.负责跨部门协调和沟通，推动界面UI、开发、测试、运营等人员紧密合作达成产品目标；<br>

4.跟踪分析产品上线后的运营数据，定期对自身产品及行业、竞争对手等进行数据分析，评估、优化用户体验和功能，有产品研发精神。<br>

						</div>
					</div>
					<div class="section">
						<div class="tith3">职位要求</div>
						<div class="content">
1.大学本科以上学历，2-3年以上互联网产品或数据产品经理工作经验，有企业服务类相关产品从业经历者优先；<br>

2.熟悉商业零售类相关行业知识，能熟练使用Axuer、office等软件工具，完成PRD、详细PD文档撰写、原型设计；<br>

3.熟悉PRD文档编写，熟练使用产品设计类软件，对技术研发环节有了解，有高品质原型经验者优先；<br>

4.具备优秀的表达能力和沟通协调能力，较强的分析问题和解决问题的能力，有良好的团队协作意识，具备优秀的自我驱动力，能主动思考，及时改进产品问题；<br>

5.较强的逻辑思维能力，用户分析能力，出色的审美观与创新力，能够很好地规划和设计产品功能、使用流程及交互体验；
6.有上进心，良好的自我驱动能力和强烈的责任感，热爱互联网，熟悉并经常使用相关各类产品，对用户行为与心理有深刻洞察 ，并对产品运营和交互体验有较成熟的认知和想法。<br>


						</div>
					</div>
				</li>
			</div>
		</div>
	</div>
</div>

<div class="main bg_g pt_40 pb_40 rec">
	<div class="w1200" style="box-shadow:none;">
		<div class="recuit">
			<div class="zp_list">
				<li>
					<div class="nametit">数据分析师</div>
					<div class="section">
						<div class="tith3">职位描述</div>
						<div class="content">
1.主要为城市数据（交通、规划、地理信息、人口、运营商等数据）分析，算法设计与开发；<br>

2.能够基于数据分析得到有价值的信息，为业务发展提供策略和建议；<br>

3.配合公司营运项目需求，及时提交分析结果；<br>

4.协助各业务部门完成数据整理、分析与利用，及时提供支持方面的工作。<br>


						</div>
					</div>
					<div class="section">
						<div class="tith3">职位要求</div>
						<div class="content">
1.熟练掌握R, python等编程语言种的一种或多种，有GIS基础优先；<br>

2.良好的数据敏感度与逻辑分析能力；<br>

3.了解至少一种数据库软件，能通过sql完成常规取数；<br>

4.具有良好的学习、领悟能力，善于沟通协调。<br>

						</div>
					</div>
				</li>
			</div>
		</div>
	</div>
</div>

<div class="main bg_g pt_40 pb_40 rec">
	<div class="w1200" style="box-shadow:none;">
		<div class="recuit">
			<div class="zp_list">
				<li>
					<div class="nametit">数据可视化</div>
					<div class="section">
						<div class="tith3">职位描述</div>
						<div class="content">
1.负责数据可视化、多媒体展示、交互界面等的设计开发;<br>

2.开发地理大数据可视化引擎，满足互联网场景下的地理大数据可视化需要。<br>

						</div>
					</div>
					<div class="section">
						<div class="tith3">职位要求</div>
						<div class="content">
1.拥有完整的Web开发技能，掌握JavaScript、D3等技术栈；<br>

2.熟悉服务端开发以及数据库开发；<br>

3.了解processing、webgl等可视化编程库优先；<br>

4.了解mapbox，mapnik或类似的地图服务API者优先。	<br>
					</div>
					</div>
				</li>
			</div>
		</div>
	</div>
</div>
<div class="main bg_g pt_40 pb_40 rec">
	<div class="w1200" style="box-shadow:none;">
		<div class="recuit">
			<div class="zp_list">
				<li>
					<div class="nametit">API开发工程师</div>
					<div class="section">
						<div class="tith3">职位描述</div>
						<div class="content">
1.开发后端通用数据API;<br>

2.编写设计文档、代码、单元测试、集成测试。	<br>
					</div>
					</div>
					<div class="section">
						<div class="tith3">职位要求</div>
						<div class="content">
1.计算机\软件工程相关专业本科及以上学历;<br>

2.精通Restful API工作原理，熟悉Http(s)协议;<br>

3.精通主流数据库系统，比如MongoDB、PostgreSQL等;<br>

4.精通密码学，数据加密与数据安全;<br>

5.精通Java、Python、JavaScript编程语言;<br>

6.虚心好学、责任心强，能承受较大的工作强度，具备良好的沟通能力;<br>

7.有大数据处理经验者优秀；有分布式系统使用和开发经验者优先。<br>


			</div>
					</div>
				</li>
			</div>
		</div>
	</div>
</div>
<div class="main bg_g pt_40 pb_40 rec">
	<div class="w1200" style="box-shadow:none;">
		<div class="recuit" style="padding:0px 0 0 30px;">
			<div class="rectit">联系我们</div>
			<div class="cus">
				<div class="cc">
				公司地址：上海市杨浦区政立路477号创智科技中心2号楼1301室<br>
                联系电话：021-65566219<br>
				邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：info@cidatahub.com<br>
				</div>
				<div id="map">
					
				</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=lpOIuahqo3eR5dzpYGCnhvQz4TXXatPW"></script>
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script type="text/javascript" src="http://lbsyun.baidu.com/custom/stylelist.js"></script>
	
			<script type="text/javascript">
			    //创建和初始化地图函数：
			    function initMap(){
			        createMap();//创建地图
			        setMapEvent();//设置地图事件
			        addMapControl();//向地图添加控件
			        addMarker();//向地图中添加marker
			    }
			    
			    //创建地图函数：
			    function createMap(){
			        var map = new BMap.Map("map");//在百度地图容器中创建一个地图
			        var point = new BMap.Point(121.516074,31.313524);//定义一个中心点坐标
			        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
			        window.map = map;//将map变量存储在全局
			    }
			    
			    //地图事件设置函数：
			    function setMapEvent(){
			        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
			        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
			        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
			        map.enableKeyboard();//启用键盘上下左右键移动地图
			    }
			    
			    //地图控件添加函数：
			    function addMapControl(){
			        //向地图中添加缩放控件
				var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
				map.addControl(ctrl_nav);
			        //向地图中添加缩略图控件
				var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
				map.addControl(ctrl_ove);
			        //向地图中添加比例尺控件
				var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
				map.addControl(ctrl_sca);
			    }
			    
			    //标注点数组
			    var markerArr = [{title:"树融科技有限公司",content:"政立路477号1301",point:"121.5147|31.314743",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
					 ];
			    //创建marker
			    function addMarker(){
			        for(var i=0;i<markerArr.length;i++){
			            var json = markerArr[i];
			            var p0 = json.point.split("|")[0];
			            var p1 = json.point.split("|")[1];
			            var point = new BMap.Point(p0,p1);
						var iconImg = createIcon(json.icon);
			            var marker = new BMap.Marker(point,{icon:iconImg});
						var iw = createInfoWindow(i);
						var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
						marker.setLabel(label);
			            map.addOverlay(marker);
			            label.setStyle({
			                        borderColor:"#808080",
			                        color:"#333",
			                        cursor:"pointer"
			            });
						
						(function(){
							var index = i;
							var _iw = createInfoWindow(i);
							var _marker = marker;
							_marker.addEventListener("click",function(){
							    this.openInfoWindow(_iw);
						    });
						    _iw.addEventListener("open",function(){
							    _marker.getLabel().hide();
						    })
						    _iw.addEventListener("close",function(){
							    _marker.getLabel().show();
						    })
							label.addEventListener("click",function(){
							    _marker.openInfoWindow(_iw);
						    })
							if(!!json.isOpen){
								label.hide();
								_marker.openInfoWindow(_iw);
							}
						})()
			        }
			    }
			    //创建InfoWindow
			    function createInfoWindow(i){
			        var json = markerArr[i];
			        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
			        return iw;
			    }
			    //创建一个Icon
			    function createIcon(json){
			        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
			        return icon;
			    }
			    
			    initMap();//创建和初始化地图

	map.setMapStyle({style:'dark'});




			</script>


			</div>

		</div>
	</div>
</div>

{% end %}