{% extends "template2.html" %}

{% block head %}

{% end %}

{% block body %}
<div class="con-titbox">
	<div class="w1200">
		<div class="en">Make Data Simple</div>
		<div class="cn">解决方案</div>
	</div>
</div>


<div class="sectiona">
	<div class="w1200">
		<div class="docbox">
			<div class="title">新零售运维数据实时监测</div>
			<div class="content">
				我采集了ZB级别的数据怎么分析？<br>
				如何完成实时监控？<br>
				数据异常自动提醒？<br>
				医院、学校等人群保护？
			</div>
		</div>
		<a href="" class="imgbox"><img src="{{ static_url("web/images/sec1-img1.png") }}" alt="" /></a>
	</div>
</div>

<div class="sectiona">
	<div class="w1200">
		<div class="docbox">
			<div class="title">供应链与业务拓展</div>
			<div class="content">
				仓库应该选在哪里？<br>
				需要几家供应商？<br>
				哪些卖家更为优质？<br>
				企业内部生产效率有没有提高？
			</div>
		</div>
		<a href="" class="imgbox"><img src="{{ static_url("web/images/sec1-img2.png") }}" alt="" /></a>
	</div>
</div>

<div class="sectiona">
	<div class="w1200">
		<div class="docbox">
			<div class="title">品牌商业门店预测选址</div>
			<div class="content">
				哪些门店表现最好？<br>
				预测长期收益表现？<br>
				监控门店每日状况？<br>
				如何最大化企业收益？
			</div>
		</div>
		<a href="" class="imgbox"><img src="{{ static_url("web/images/sec1-img3.png") }}" alt="" /></a>
	</div>
</div>

<div class="sectiona">
	<div class="w1200">
		<div class="docbox">
			<div class="title">城市微观尺度人口拟合</div>
			<div class="content">
				城市人口空间分布？?<br>
				如何掌握人口的社会经济属性？<br>
				企业如何了解潜在客户规模？<br>
				如何判断周边客户的行为偏好？
			</div>
		</div>
		<a href="" class="imgbox"><img src="{{ static_url("web/images/sec1-img4.png") }}" alt="" /></a>
	</div>
</div>

<div class="sectiona">
	<div class="w1200">
		<div class="docbox">
			<div class="title">城市交通大数据分析优化</div>
			<div class="content">
				有没有区域公交地铁显著不够？<br>
				哪些路段经常堵车？<br>
				地铁应该修道哪里？<br>
				如何整合出租/地铁/公交数据？
			</div>
		</div>
		<a href="" class="imgbox"><img src="{{ static_url("web/images/sec1-img5.png") }}" alt="" /></a>
	</div>
</div>


{% end %}